root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 4 spaces indentation
[*.{json}]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 4

# 2 spaces indentation
[*.{js,css,scss,html}]
indent_style = space
indent_size = 2

[{package.json}]
indent_style = space
indent_size = 2
